[submodule "points/sd_scripts"]
	path = points/sd_scripts
	url = https://github.com/kohya-ss/sd-scripts.git
[submodule "diffusion_generator"]
	path = points/diffusion_generator
	url = https://github.com/meishild/diffusion-generator.git
[submodule "points/diffusion_generator"]
	path = points/diffusion_generator
	url = git@github.com:meishild/diffusion-generator.git
